body {
 background-color: rgb(255, 241, 226);
 text-align: center;
}
.container{
   background-color: rgb(182, 182, 182);
   width: 1250px;
   margin: auto;
   padding: 20px;
   border: 30px dashed rgb(125,0,0);
   font-family:'Bern',cursive;
 }
 h1 {

    color: black;
    text-align: center !important;
     font-family: 'Castelar';
     font-size: 50px;

 }
p{

   color: white
   font-size: 30px;
   text-align: center !important;
    font-family: 'Castelar', cursive;
    line-height: normal;
}

p::first-line{
  color: white;

}
 pre{
   /*Color Text*/
    color: black
    font-size: 80px;
    text-align: center !important;
    font-family: 'Brush', cursive;
    line-height: normal;
 }

 .element-1{
   font-family: 'Brush', cursive;
   font-size: 30px}
   a:hover {
     color:  rgb(255,223,0);
   font-style: italic;
 }
 a:active {
    color: white;
font-style: 'Castelar', cursive;
}



 #img {

 padding-left: 25px;
 padding-top: 7px;
 float: left;

 }
