body {
  background-color: gray;
  padding: 10;
  text-align: center;
  font-style: italic;
  font-size: 25;
  color: yellow;
}
.container {
    color: teal
}
#movies {
    font-style: normal;
    background-color: red;
    text-align: left;
    font-size: 50
}
#PuzzleCube {
    font-style: normal;
    background-color: gold;
    text-align: center;
    font-size: 50
}
#box-three {
    background-color: lightblue;
    text-align: right;
}
