body {
  background-color: tan;
  padding: 10;
  text-align: center;
  font-style: italic;
  font-size: 25;
  color: yellow;
}
.container {
    color: teal
}
#box-one {
    font-style: normal;
    background-color: lightblue;
    text-align: right;
    font-size: 30
}
#box-two {
    font-style: normal;
    background-color: gold;
    text-align: center;
    font-size: 50
}
#box-three {
    background-color: pink;
    text-align: left;
}
