body {
  background-color: gray;
  padding: 25;
  text-align: center;
  font-style: italic;
  font-size: 30;
  color: yellow;
}
.container {
    color: black
}
#movies {
    font-style: normal;
    background-color: rgb(255, 65, 65);
    text-align: left;
    font-size: 30;
}
#PuzzleCube {
    font-style: normal;
    background-color: gold;
    text-align: center;
    font-size: 30;
}
#box-three {
    background-color: lightblue;
    text-align: right;
}
